
*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}
:root{
--color-segudaria: #D7A1A0; 

/* --color-principal: #64a587;
--color-principal: #ECAAA9; */
--color-principal: #7159C1;
}

body{
margin-top: 100px;
font-family: 'Roboto', sans-serif;
width: 100%;
color: #4B4B4B;

}

.icon-zap img{
width: 50px;
}
.icon-zap{
position: fixed;
bottom: 5%;
z-index: 4;
right: 10px;

animation-name: zap ; /* animation */
animation-duration: 2s; 
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: reverse;
}

@keyframes zap{ /* animation */
from {
opacity: 0.4;
transform: scaleY(10px)
}
to{
opacity: 1;
}
}

.col_logo{
animation-name: logo ; /* animation */
animation-duration: 1200ms; 
animation-timing-function: ease-in-out;
}
@keyframes logo{ /* animation */
from {
opacity: 0;
transform: rotateZ(90deg)
}
to{
opacity: 1;
}
}
.container_header{
background-color: #7159C1;
width: 100%;
position: fixed;
z-index: 3;
top: 0;
-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.75);


}

.container_menu{
background-color: rgba(0,0,0,0.0);
display: flex;
align-items: center;
justify-content: center;
justify-content: space-between;
max-width: 1300px;
width: 100%;
margin: 0 auto;
padding: 15px;
transition: ease-in-out;


}

.menu-opener{
display: none;


}
.links a{
color: white;
font-size: 18px;
padding-right: 14px;
text-decoration: none;
font-weight: bold;
position: relative;
transition: 0.5;
opacity: 0.8;
}

.active{
/* color: var(--color-principal) ; */
}

.links a:hover{
color: white; 
opacity: 1;
}

.links a::after.active{
content: "";
width: 100%;
height: 2px;
color: white;
position: absolute;
left: 0;
bottom: -4px;
}




.links a::after{
content: "";
width: 0;
height: 1px;
background-color: white;
position: absolute;
left: 0;
bottom: -4px;
}

.links a:hover::after{
width: 100%;
transition: all 900ms ease-in-out ;
}

/* ====banner=== */

.layer{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
z-index: 1;
}

section.banner{
background-image: url('https://images.unsplash.com/photo-1501290836517-b22a21c522a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80');
background-size: cover;
background-position: bottom;
background-attachment: fixed;/* feito parallax8*/
width: 100%;
padding: 15px 0;
min-height: 700px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
animation-name: up ; /* animation */
animation-duration: 1200ms; 
}
@keyframes up{ /* animation */
from {
opacity: 0;
transform: translateY(10px)
}
to{
opacity: 1;
}
}

.content-banner{
z-index: 2;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
max-width: 900px;

text-align: center;

animation-name: up ; /* animation */
animation-duration: 900ms; 


}

.content-banner h2{
color: white;
font-size: 55px;
}

.content-banner p{
color: white;
margin-top: 50px;
font-weight: bold;
margin-bottom: 80px;


}
.content-banner a{
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
border: 1px solid var(--color-principal) ;
color:white ;
text-align: center;
text-decoration: none;
cursor: pointer;
background-color: var(--color-principal);
width: 180px;
border-radius: 5px;
}



.content-banner a:hover{
font-weight: bold;
background-color: var(--color-principal)0.9;
color: var(--color-principal);
transition: 1s;
}



/* .button:hover{
background-color: #64a587;
transition: 1s ease-in-out;
background-color: rgba(0,0,0,0.0) ;
border: 1px solid #64a587 ;
color:#64a587 ;


}
.button a:hover{
color:#64a587 ;
transition: 0.1s ease-in-out;
}

.button{
display: flex;
width: 300px;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,0.0) ;
border: 1px solid #64a587 ;
color:#64a587 ;
text-align: center;
text-decoration: none;
border-radius: 30px;
padding: 10px;
cursor: pointer;



}
.button  i{
font-size: 40px;
}
.button a{
text-decoration: none;
color: white;
font-size: 25px;
} */


/* Final do banner */


/* service content cards */

.content-service{
width: 100%;
margin: 0 auto;
text-align: center;
padding-top: 3px;



}

.content-title{
width: 100%;
background-color: #eee;
}

.content-title h3{
padding-top: 5%;
font-size: 40px;
width: 100%;

}
.content-title p{
margin: 0 auto;
max-width: 600px;
width: 100%;
padding-top: 3%;
color: rgb(134, 131, 131);
line-height: 40px;
padding: 32px;
}



.cards{
padding: 32px;
display: flex;
justify-content: center;
flex-wrap: wrap;





}

.card{

margin-left: 10px;
margin-right: 10px;
/* background-color: #eee; */
border-radius: 2%;
border: 1px solid #eed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1%;



}

.button a{
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
border: 1px solid var(--color-principal) ;
color:white ;
text-decoration: none;
cursor: pointer;
background-color: var(--color-principal);

border-radius: 5px;
}

.button a:hover{
    font-weight: bold;
background-color: var(--color-principal)0.9;
color: var(--color-principal);
transition: 1s;
}



.card .card-img{
padding-bottom: 10%;
}
.card .content h4{

}
.card .content p{

max-width: 300px;
margin: 20px auto;
color: rgb(134, 131, 131);

}
#abertura_empresa{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding-top: 5%;
padding-bottom: 5%;


}

#abertura_empresa .item1{
display: flex;
flex-direction: column;
align-items: center;
padding: 2%;

max-width: 600px;




}

#abertura_empresa h3{
padding-top: 40px;
font-size: 30px;
border-bottom: 1px solid  var(--color-principal);
width: 100%;

}

.item-img img{
    flex: 2;
width: 100%;
border-radius: 20px;

height: 100%;
}

.links-social{
padding: 25px;
display: flex;
justify-content: center;
align-items: center;

}

.links-social a{
display: block;
padding: 5px;
}

.btn{

display: flex;
width: 180px;
justify-content: center;
align-items: center;
padding: 15px;
color:white ;
text-align: center;
text-decoration: none;
border-radius: 5px;
cursor: pointer;
background-color: var(--color-principal);

}

.btn:hover{
width: 200px;
font-size: 20px;
transition: 1s;
}

/* final do cards */





/* footer */

footer{
width: 100%;
background-color: #2B2B2B ;
padding: 40px 0px 0px;
}

.cads-footer{

width: 100%;
display: flex;
flex-wrap: wrap;
}

.card-footer{
text-align: left;
padding: 5px;
margin: 0 auto;
}

.card-footer p{

width: 400px;

}
.logo-footer h3{ 
color: white;
font-size: 15px;

}
.content-footer p{

max-width: 400px;
width: 100%;
line-height: 30px;
}

.content-footer{
color: rgb(134, 131, 131);
padding-top: 5%;
}

.links-footer{
padding-top: 5%;
display: flex;
flex-direction: column;
}

.links-footer a{
padding-top: 3%;
text-decoration: none;
color: rgb(134, 131, 131);
display: flex;
color: white;
}
.links-footer a i{
margin-right: 10px;
}
.rodape{
display: flex;
background-color: rgba(0, 0, 0, 0.8) ;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.rodape > p{
text-align: center;
color: white;
padding: 20px;
margin-left: 20px;

}

.rodape > p + p{
flex: 2;
}







/* ===Responsividade=== */

@media (min-width:450px) and (max-width:800px ){

/* funcionalidades javascript */
.links.oculte{
transition: ease-in-out;
}

.links {
position: absolute;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
width: 50vw;
height: calc(100vh - 10px);
z-index: 99;
top: 114px;
right: 0;
transition: all 400ms;
}


.links.oculte{
opacity: 0;
visibility: hidden;
height: 0;


}


.links a {
display: block;
color: #fff;
padding: 32px;

}



.active{
color: #64a587;

}


.menu-opener{
z-index: 10 ;
width: 40px;
height: 40px;
position: absolute;
display: block;
top: 30px;
right: 10px;
cursor: pointer;
}

.menu-opener i{
color: black;
font-size: 40px;
}

/* == final do menu=== */
/* banner */
.content-banner h2{
font-size: 40px;
}

/* ===serviços ==== */
.content-title h3{
padding-top: 5%;
font-size: 28px;
text-transform: uppercase;
}


#abertura_empresa {
display: block;

}

.item-img img {

padding-top: 60px;
}


.card{
padding: 15%;
}


/* === footer== */
.links-footer a{
margin-top: 5px;
}

.card-footer{
width: 100%;

}
.content-footer{

}

.content-footer p{
max-width: 600px;
width: 100%;
line-height: 30px;
}
}


@media (max-width:450px){
.col_logo img{
width: 150px ;
}

.icon-zap{
position: fixed;
bottom: 1%;
z-index: 4;
right: 10px;
}

.icon-zap img{
width: 40px;
}

.links {
position: absolute;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
width: 50vw;
height: calc(100vh - 10px);
z-index: 99;
top: 114px;
right: 0;
transition: all 400ms;

}

.links.oculte{
opacity: 0;
visibility: hidden;
height: 0;


}


.links a {
display: block;
color: #fff;
padding: 28px;
font-size: 12px;
}


.active{
color: #64a587;
}


.menu-opener{
z-index: 10 ;
width: 40px;
height: 40px;
position: absolute;
display: block;
top: 30px;
right: 10px;
cursor: pointer;
}

.menu-opener i{
color: black;
font-size: 40px;
}

/* == final do menu=== */
/* banner */
.content-banner h2{
font-size: 40px;
}

/* ===serviços ==== */
.content-title h3{
padding-top: 5%;
font-size: 28px;
text-transform: uppercase;
}


#abertura_empresa {
display: block;

}

.item-img img {

padding-top: 60px;
}

/* cards */
.cards{
padding: 0;
}
.card{
padding: 2%;
}


/* === footer== */
.links-footer a{
margin-top: 5px;
}

.card-footer{
margin-top: 40px;
width: 100%;

}
.content-footer{

}

.content-footer p{
max-width: 600px;

width: 100%;
line-height: 30px;
}


}

/* modal-overlay */
.hide{
display: none;
}
.modal-overlay{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 10;

}


.modal-overlay i{
z-index: 99;
position: absolute;
top: 12px;
right: 12px;
cursor: pointer;
color: red;
}



.modal-content{
max-width: 500px;
width: 100%;
height: 500px;
background-color: #fff;
z-index: 12;
position: relative;
margin:5% auto;

}


.modal-content iframe{
width: 100%;
height: 100%;
position: relative;
}




/* Animação */

[data-anime]{
opacity: 0;
transition: 0.8s;
}

[data-anime="left"]{
transform: translate3d(-10px, 0 , 0 );
visibility: hidden;
}

[data-anime="center"]{
transform: translate3d(0px, -10px , 0 );
visibility: hidden;
}

[data-anime="right"]{
transform: translate3d(10px, 0 , 0 );
visibility: hidden;
}

[data-anime].animate{
opacity: 1;
transform: translate3d(0px, 0px ,0px);
visibility: visible;
}